//footer

footer {
    background-color: white;
    color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

footer img {
    margin-bottom: 70px;
}

footer a {
    margin: 50px;
}

footer p {
    margin-top: 30px;
    font-size: 18px;
}
