.footer {
    background-color: white;
    color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    img {
        margin-bottom: 70px;
    }
    a {
        margin: 50px;
    }
    p {
        margin-top: 30px;
        font-size: 18px;
    }
}