@import "_reset.scss";

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: white;
    background-color: #007ecf;
}

header {
    height: 100vh;
    background-image: url("../images/tlo.png");
    background-size: contain;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}

.white_triangle {
    background-color: white;
    bottom: -40px;
}

a {
    text-decoration: none;
    color: white;
}

//=== navigation ===

.navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20%;
    width: 80%;
    z-index: 999;
    justify-content: space-between;
    margin: 0 auto;
}

.navigation>div {
    width: 20%;
    display: flex;
    justify-content: center;
}

.desktop_menu {
    width: 60%;
}

.navigation li {
    display: inline-block;
}

nav {
    width:50%;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    font-size: 17px;
    margin-right: 30px;
}

nav a:hover {
    color:#73e128;
    transition: color 0.3s;
}

//headline & phones

header .container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    height: 80vh;
}

.container>div:first-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.phones {
    width: 50%;
    height: 88vh;
 //   overflow: hidden;
}

.phones img {
    width: 390px;
}

h1 {
    font-size: 47px;
    font-weight: 300;
    margin-bottom: 50px;
}

h1 span {
    font-weight: bold;
}

header p {
    font-size: 18px;
    margin-bottom: 80px;
}

.download {
    border: 1px solid white;
    font-size: 16px;
    padding: 17px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.download:hover {
    color: #73e128;
}


//2nd section

.choose_platform {
    background-color: #007ecf;
    display: flex;
    justify-content: center;
    align-items: center;
   // margin-top: -5vw;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
    );

}

.choose_platform>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 200px;
}

.choose_platform>div>div {
    display: flex;
    flex-wrap: wrap;
}

.download img {
    margin-right: 20px;
}

.choose_platform .download {
    font-size: 20px;
    margin: 30px;
}

h2 {
    font-size: 37px;
    font-weight: 300;
    margin-bottom: 40px;
}

.choose_platform p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 45px;
}

//===features

#features {
    background-color: white;
    color: #444444;
    display: flex;  
    margin-top: -1px; 
    
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}


#features+div{
    display: flex;
    
}

#features>div {
 //   border: 1px solid red;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.all_features {
    display: flex;
    flex-wrap: wrap;
}
#features>div:last-child {
    background-color: red;
    width: 50%;
}
.feature_circle {
    border: 1px solid #4ea5de;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//==== about ===

#about {
    background-color: #4ea5de;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}
//===screenshot

#screenshot {
    background-color: white;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}

//team

#team {
    background-color: #007ecf;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}

//pricing

#pricing{
    background-color: white;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}


//contact 

#contact {
    background-color: #007ecf;
    background-image: url("../images/comp.png");
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 5vw)
      );
}

//footer

footer {
    background-color: white;
}